body {
    background-color: rgb(61, 61, 163);
    font: normal 15pt Arial;

}

header {
    color: white;   
    text-align: center;
    font-family: monospace;
}

section {
   background-color: white; 
   border-radius: 10px;
   padding: 15px;
   width: 500px;
   margin: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
}

footer {
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    padding: 50px;
}

h1#h101 {
    color: white;
    font-size: 50px;
    font-style: oblique;
}

div#msg {
    text-align: center;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

div#foto {
    text-align: center;
    height: 270px;
}

div#msg2 {
    text-align: center;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}